*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f0ecec;
    align-items: center;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #990000;
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 7% 7% 7% 7% 3% 5%;
    color: rgb(233, 233, 233);
    align-items: center;
    min-height: 10vh;
    font-size: 16px;
    background-color: #990000;
}

nav img{
    height: 120px;
    width: 250px;
    grid-column: 2/3;
    position: absolute;
    left: 130px
}

#logo{
    grid-column: 2/3;
    font-size: 24px;
}

.nav{
    text-decoration: none;
    color: rgb(233, 233, 233);
    text-align: center;
    font-weight: 700;
    display: block;
}

.navs{
    text-decoration: none;
    color: rgb(233, 233, 233);
    text-align: center;
    font-weight: 700;
    display: block;
}


.fas{
    display: block;
    justify-self: end;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.navigation::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    display: block;
    margin: auto ;
    transition: 0.5s;
}

.navigation:hover:after{
    width:75%;
}
.info-button:hover{
    transition: 0.5s;
    border-radius: 15px;
    background: white;
    color: #48547c;
}
.hero::after{
    content:"";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.75;
}

.navlinks{
    position: absolute;
    background-color: rgb(221, 218, 218);
    height: 99px;
    width: 150px;
    right: 10px;
    top: 60px;
    z-index: 1;
    text-align: center;
    transition: 0.5s; 
    display: none;
}

.navlinks a{
    text-decoration: none;
    display: block;
    color: #990000;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
}

.navlinks a:hover{
    transition: 1s;
    background-color: white;
    color: black;
    cursor: pointer;
}

.second-icon{
    text-decoration: none;
    color: rgb(233, 233, 233);
    text-align: center;
    font-weight: 700;
    opacity: 0;
}

.container{
    margin: 40px auto;
    width: 40%;
    height: 600px;
    background-color: #fffcfc;
    text-align: center;
}

.container h2{
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms{
    color: black;
    margin: auto;
    width: 60%;
    height: 80%;
    text-align: left;
}

label{
    
    margin-bottom: 30px;
}

input{
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    border-style: solid;
    background-color: #f0ecec;
}

.forms .lupa,label, input{
    display: inline;
}

.lupa{
    color: #1c7ccc;
    text-decoration: none;
}

.ingat{
    display: inline;
    float: right;
    margin-right: 30px;
}

.checkbox{
    transform: translate(165px,-56px);
   
}

.pilihan{
    text-align: center;
    transform: translateY(-30px);
}

.pilihan a{
    margin: auto;
    display: block;
    width: 200px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    background-color: #f0342c;
    font-weight: bold;
    color: white;    
}

.pilihan a:hover{
    background-color: #dd231c;
}

.lupa:hover{
    color: #176fb8;
}
